body {
    margin-top: 51px;
    background-color: black;
    background-image: url('../img/worldmap1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(16, 16, 16);
}

#logo {
    height: 35px;
    margin-top: -6px;
}

#welcomeBox {
    position: relative;
    padding: 20px 0 0 20px;
    color: rgb(255, 230, 192);
    border: 2px solid black;
    background-image: url('../img/battlefield.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#topContainer img {
    margin: 40px auto;
    width: 95%;
}

#welcomeRow {
    margin: 50px 0 65px 0;
    width: 95%;
}

#welcomeText {
    padding: 0 10px 10px 10px;
    background-color: rgba(43, 40, 40, 0.65);
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.contentDiv {
    background-color: #5e2f18;
    background-image: url(../img/parchmentlightbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    margin: 10px auto 10px auto;
    padding: 0 20px 0 20px;
}

.contentDiv p {
    text-align: justify;
}

.marginTop {
    margin-top:30px;
}

.marginBottom {
    margin-bottom:80px;
}

.wButton {
    border: 1px solid black;
    background-image: url(../img/parchmentlightbtn.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 3px;
}

.wButton:hover {
    background-image: url(../img/parchmentlightbtnh.jpg);
    cursor: pointer;
    color: darkred;
}

.collapseButton {
    text-align:center;
    width: 100%;
}

.collapseButton:hover {
    cursor: pointer;
}

#featuresHeader h1 {
    text-align: center;
    margin-top:80px;
}


#launcher {
    margin: 2px 2px 0 0;
    padding-left: 3px;
    height: 196px;
    width: 20%;
    border: 1px solid rgb(90,44,19);
    position: relative;
    float: left;
}

#detailsForm {
    margin: 2px 0 0 0;
    height: 196px;
    position: relative;
    float: left;
}

#terrainOptions {
    display: none;
}

#terrainTable td {
    border: none;
}

#terrainTable label {
    margin-top:7px;
    float: right;
}

#mapOptions {
    display: none;
}

.terrainCol {
    width:150px;
    position: relative;
    float: left;
}

#wizardBox {
    margin: 10px auto;
    max-width: 900px;
}

.optionsWrapper {
    border: 1px solid #101010;
}
.optionsRow {
    margin: 2px auto;
    padding: 3px;
}
#optionsBox1 {
    border: 1px solid #101010;
    position: relative;
    float: left;
    padding: 5px;
    height: 200px;
}

#wizardTable {
    table-layout: fixed;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

#wizardTable img {
    padding-top: 50px;
    width: 99%;
}

.wCell {
    margin: 0 auto;
    width: 10%;
    height: 120px;
    background-color: #57AB38;
    background-size: cover;
    border: 1px solid darkslategrey !important;
    text-align: center;
    vertical-align: bottom;
    color: ivory;
    font-weight: bold;
}


#deploymentLeft {
    height: 1031px;
    margin: 11px 0 0 1px;
    background-color: rgba(100, 170, 95, 0.1);
    position: absolute;
    float: left;
    z-index: 99;
    border-right: 1px dashed darkred;
    display: none;
}

#deploymentRight {
    height: 1031px;
    margin: 11px 0 0 1px;
    background-color: rgba(100, 170, 95, 0.1);
    position: absolute;
    float: right;
    z-index: 99;
    border-left: 1px dashed darkred;
    right: 17px;
    display: none;
}

.deploymentFirst {
    width: 185px;
}

.deploymentSecond {
    width: 130px;
}

canvas {
    margin: 15px 0 0 0;
    width: 75px;
    height: 75px;
}


#terrainMenu {
    width: 160px;
}

/**
 * SPINNER CONTROLS *
**/
.spinner {
    width: 73px;
    height: 30px;
}
.spinner input {
    text-align: right;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
}


/**
 * DZ CONTROLS *
**/

/* Start by hiding the checkboxes */
input[type=checkbox] {
    visibility: hidden;
}

/* Checkbox Slider */
.checkboxSlider {
    width: 130px;
    height: 20px;
    background-image: url(../img/parchmentlightbtn.jpg);
    margin: 3px;
    border-radius: 50px;
    position: relative;
    float: left;
    border: 1px solid black;
}

/* Create the pill to click */
.checkboxSlider label {
    display: block;
    background-image: url(../img/jewelBgRed.png);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 12px;
    border-radius: 50px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 12px;
    /*background: #ddd;*/
}

/* Create the text for the On position */
.checkboxDZ:before {
    content: 'Show DZ';
    position: absolute;
    top: 3px;
    left: 13px;
    height: 2px;
    color: #26ca28;
    font-size: 11px;
}

/* Create the label for the off position */
.checkboxDZ:after {
    content: 'No DZ';
    position: absolute;
    top: 3px;
    left: 85px;
    height: 2px;
    color: #FFF;
    font-size: 11px;
}

/* hide the DZ Swap control until Show DZ is selected */
#checkboxDZSwap {
    display: none;
}

/* Create the text for the left player to go 1st */
.checkboxDZSwap:before {
    content: '1st Up';
    position: absolute;
    top: 3px;
    left: 13px;
    height: 2px;
    color: #26ca28;
    font-size: 11px;
}

/* Create the label for the right player to go 1st */
.checkboxDZSwap:after {
    content: '1st Up';
    position: absolute;
    top: 3px;
    left: 85px;
    height: 2px;
    color: #FFF;
    font-size: 11px;
}

/* Create the checkbox event for the label */
.checkboxSlider input[type=checkbox]:checked + label {
    left: 70px;
    background-image: url(../img/jewelBgGreen.png);
    background-position: center;
    background-size: cover;
}

/*Space*/
.spaceCell1 {
    background-image: url('../img/space1.jpg');
}

.spaceCell2 {
    background-image: url('../img/space2.jpg');
}

.spaceCell3 {
    background-image: url('../img/space3.jpg');
}

.spaceCell4 {
    background-image: url('../img/space4.jpg');
}

/*Grass*/
.grassCell1 {
    background-image: url('../img/grass1.jpg');
}

.grassCell2 {
    background-image: url('../img/grass2.jpg');
}

.grassCell3 {
    background-image: url('../img/grass3.jpg');
}

.grassCell4 {
    background-image: url('../img/grass4.jpg');
}

/*Swamp*/
.swampCell1 {
    background-image: url('../img/swamp1.jpg');
}

.swampCell2 {
    background-image: url('../img/swamp2.jpg');
}

.swampCell3 {
    background-image: url('../img/swamp3.jpg');
}

.swampCell4 {
    background-image: url('../img/swamp4.jpg');
}

/*Forest*/
.forestCell1 {
    background-image: url('../img/forest1.jpg');
}

.forestCell2 {
    background-image: url('../img/forest2.jpg');
}

.forestCell3 {
    background-image: url('../img/forest3.jpg');
}

.forestCell4 {
    background-image: url('../img/forest4.jpg');
}

/*street*/
.streetCell1 {
    background-image: url('../img/street1.jpg');
}

.streetCell2 {
    background-image: url('../img/street1.jpg');
}

.streetCell3 {
    background-image: url('../img/street1.jpg');
}

.streetCell4 {
    background-image: url('../img/street1.jpg');
}